@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,700;1,400;1,500&display=swap');

body {
    background-color: #30312C;
    color: #f3f3f8;
}

.title {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
}