@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,400;0,700;1,400;1,500&display=swap');

body {
    font-family: 'Montserrat Alternates', sans-serif;
}

/*Styling the navbar*/
nav li {
    display: inline;
    padding: 10px;
    list-style: none;
    text-decoration: none;
}

nav a {
    
    list-style: none;
    text-decoration: none;
    color: #0078d7;
}

.container nav {
    margin-left: auto;
    font-weight: bold;
}

.container {
    display: flex;
}

.color-box {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
}

.one {
    background-color: red;
}

.two {
    background-color: green;
}

.three {
    background-color: blue;
}

.four {
    background-color: yellow;
}

.five {
    background-color: orange;
}

#selected-color {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    border: 1px;
}